.section{data: { controller: 'forum', action: 'forum:refresh@document->forum#refreshPage', reflex: { root: '#messages' } }}
  .columns
    .column.is-one-third
      %h1.title Send a message
      = form_for @message do |f|
        .field
          .control
            = f.text_area :body, class: 'textarea', data: { target: 'forum.bodyInput' }
        .field
          .control
            = f.submit 'Send message', class: 'button is-primary is-fullwidth', data: { action: 'forum#createMessage' }
        %br/
        .field
          .control
            = link_to 'Manual Refresh', '#',
              class: 'button is-danger is-light is-fullwidth',
              data: { action: 'forum#refreshPage' }
    .column#messages
      - @messages.each do |message|
        .message.is-small{class: "#{(message.from == @current_user) ? 'is-info' : 'is-success'}"}
          .message-header= message.from
          .message-body= message.body
