%section.section
  %h1.title Hello, who are you?

  .columns.is-centered
    .column.is-6
      = form_for @user, url: user_path do |f|
        .field
          = f.label :name, class: 'label'
          .control
            = f.text_field :name, class: 'input'
        .field
          .control
            = f.submit 'Start', class: 'button is-primary is-fullwidth'
